<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/base.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="module" src="/static/js/dogs.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <a href="/" class="logo" aria-hidden="true"></a>
        <a href="/" {% if page.path == "index" %}active{% endif %}>Home</a>
        <a href="{{ url_for('page', path='team') }}" {% if page.path == "team" %}active{% endif %}>Team</a>
        <a href="{{ url_for('page', path='contact') }}" {% if page.path == "contact" %}active{% endif %}>Contact</a>
      </nav>
    </header>

    <main>
      {% block content %}
          <h1>{{ page.meta.description }}</h1>
          {{ page.html|safe }}
      {% endblock content %}
    </main>

    <footer>
      <p>This site was made as a tutorial on JAMStack, and generating static websites with <a href="https://flask.palletsprojects.com/">Flask</a> and <a href="https://netlify.com">Netlify</a>.</p>
      <ul>
        <li><a href="https://github.com/DeadWisdom/flask-static-tutorial" target="_blank">github.com/DeadWisdom/flask-static-tutorial</a>
        <li><a href="https://twitter.com/deadwisdom" target="_blank">@deadwisdom</a>
      </ul>
    </footer>
  </body>
</html>